@* Views/Shared/_HeroSection.cshtml *@

<!-- Hero Section -->
<section id="hero" class="hero section dark-background" data-aos="fade-up">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h1>Learn a New Skill<br><span class="highlight">Everyday, Anytime, and Anywhere.</span></h1>
                <p class="hero-description text-dark">
                    <span class="stat-number">1000+</span> Courses covering all tech domains for you to learn and explore new opportunities. 
                    Learn from Industry Experts and become an Expert in your field.
                </p>

                <a href="/Learning/CategoryIndex" class="btn btn-primary mt-3">
                    Learn Now
                </a>

                <div class="d-flex gap-5 mt-4">
                    <div>
                        <h4 class="fw-bold text-warning">1000+</h4>
                        <small>Courses to choose from</small>
                    </div>
                    <div>
                        <h4 class="fw-bold text-primary">5000+</h4>
                        <small>Employees trained</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/assets/img/ElemenWebsiteNeksara.png" class="img-fluid animated" alt="Online Learning">
            </div>
        </div>
    </div>
</section>
<!-- /Hero Section -->