* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

header {
  height: 7rem;
  background: #417C84;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  gap: 1rem;
}

#header-container {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header i {
  font-size: 3rem;
  color: white;
}

header button {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 1000px;
  background: #9FBDC1;
  color: #2A4365;
  padding: 1rem;
}

.sidebar h3 {
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.9rem;
  color: #2A4365;
  text-decoration: none;
  transition: background 0.2s;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar li.active a {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.15);
}

.content {
  flex: 1;
  padding: 2rem;
  /* background: #f5f5f5; */
  overflow-y: auto;
}