html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.topic-header {
    height: 600px;          /* atur tinggi header */
    object-fit: cover;      /* crop tengah, gak gepeng */
    width: 100%;
}

.category-table {
    background-color: #f8f9fa; /* broken white */
    border-radius: 12px;
    overflow: hidden;
}

.category-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.category-table tbody tr:hover {
    background-color: #f1f3f5;
}

.category-table th {
    border: none;
    font-weight: 600;
}

.category-table td {
    border: none;
}
.hero-section {
    background: linear-gradient(135deg, #6fb1fc, #a7d7c5);
    padding: 80px 0;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-text h1 {
    font-size: 42px;
    font-weight: 700;
}

.hero-stats {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.hero-visual {
    position: relative;
}

.hero-user {
    width: 320px;
    border-radius: 50%;
}

.floating {
    position: absolute;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

/* CONTENT */
.section {
    padding: 70px 0;
}

.bg-soft {
    background: #f8fafc;
}

.category-pill {
    border: 1px solid #ddd;
    padding: 10px 16px;
    border-radius: 12px;
    display: inline-block;
    margin: 6px;
    background: #fff;
    cursor: pointer;
}

.topic-card {
    background: #fff;
    border-radius: 14px;
    padding: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.05);
}
.search-bar {
    max-width: 200px;
}
