.table-container {
  border-radius: 8px;
  margin: 0 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  table-layout: fixed;
}

/* Set width masing-masing kolom*/
/* th:nth-child(1), td:nth-child(1) { width: 20%; } 
th:nth-child(2), td:nth-child(2) { width: 25%; }
th:nth-child(3), td:nth-child(3) { width: 15%; }
th:nth-child(4), td:nth-child(4) { width: 40%; } */

th {
  text-align: left;
  padding: 0rem 1rem 1rem 1rem;
  font-weight: 600;
  color: #495057;
  border-bottom: 1px solid #6c6f71;
  box-sizing: border-box; 
  background: white;
}

/* Beri jarak antara thead dan tbody dengan pseudo-element */
tbody::before {
  content: '';
  display: table-row;
  height: 1rem;
}

/* Warna sama dengan background content */
tbody td {
  padding: 1rem;
  border-top: 1rem solid white;
}

/* Hilangkan border-top di row pertama */
tbody tr:first-child td {
  border-top: none;
}

/* th:last-child,
td:last-child {
  text-align: center;
} */

tbody tr {
  background-color: #F7FAFC;
  padding: 1rem;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}

.btn-add {
  background: #2A4365;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: right;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 0.7rem;
  white-space: nowrap; 
  flex-shrink: 0; 
}

.btn-add:hover {
  background: #304c72;
}

.search-wrapper {
  position: relative;
  flex: 1;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  pointer-events: none; /* Icon tidak bisa diklik */
}

.search-overlay{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
}

.search-category {
  display: flex;
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  font-size: 0.9rem;
  width: 175px;
  flex-shrink: 0;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.bi-funnel{
  font-size: 1rem;
  cursor: pointer;
}

.search-category:focus {
  outline: none;
  border-color: #417C84;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.action-buttons i{
  font-size: 1rem;
}

td .bi-trash3{
  color: rgb(231, 40, 40);
}

.btn-edit,
.btn-delete {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.btn-edit {
  background: #ffc107;
  color: #000;
}

.btn-edit:hover {
  background: #e0a800;
}

.btn-delete {
  background: #dc3545;
  color: white;
}

.btn-delete:hover {
  background: #c82333;
}

.view-count {
  color: #6c757d;
  font-weight: 500;
}